* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --hue: 205;
  --primary-color: hsl(var(--hue), 100%, 35%);
  --bg-light: hsl(calc(var(--hue) - 3), 100%, 61%);

  font-size: 62.5%;
}

html {
  /* chrome://flags/#smooth-scrolling */
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  color: white;

  text-align: center;

  overflow: overlay;

  background: linear-gradient(90.06deg, var(--bg-light), 28.29%, var(--primary-color));
}

section header h4 {
  font-size: 2.64rem;
  line-height: 2.6rem;

  margin-bottom: 2.2rem;
  margin-top: 1.8rem;
  margin-inline: 1.3rem;
  
  width: 32rem;
  margin-inline: auto;
  font-weight: 700;
  color: white;
}

section header h2 {
  font-size: 3rem;
  line-height: 3.9rem;
}

.wrapper {
  width: min(50rem, 100%);
  margin-inline: auto;
  padding-inline: 2.4rem;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

#login .col-b{
  background-color: var(--primary-color);
  padding-top: 2rem;
  padding-bottom: 5rem;
}

#login img{
  width: 100%;
}

#login .col-a img {
  width: 0;
}

#login .col-b img {
  width: 10.5rem;
}


#login form [type=submit] {
  width: 9.2rem;
  height: 3.5rem;

  background-color: var(--bg-light);
  border: none;
  border-radius: 0.3rem;
}


#login form {
  text-align: center;
  margin-top: 1.5rem;
}

#login form label{
  font-size: 1.9rem;
  line-height: 1.9rem;
}

#login form input {
  width: 20.6rem;
  height: 3.5rem;
  border-radius: 0.3rem;
}

#login form input[type=submit] {
  width: 9.2rem;
  height: 3.2rem;

  border-top: 14rem;
  border-left: 12.8rem;
  

  text-align: center;
  text-transform: uppercase;
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.2rem;
}

@media (min-width: 1024px) {
  /*=====GERAL=====*/
  body {
    overflow: auto;
    padding: 4.7rem;
  }

  .wrapper {
    width: min(112rem, 100%);
    display: grid;
  }

  section header h2 {
    line-height: 5.2rem;
  }

  .col-a {
    grid-area: A;
  }

  .col-b {
    grid-area: B;
  }

  .col-a img {
    width: 52.4rem;
    height: 34rem;
  }

  .col-b img {
    width: 10.5rem;
    height: 12.1rem;
  }

  #header .top-header {
    background-color: var(--primary-color);
    height: 7.2rem;
    width: 140%;
    margin-bottom: 2rem;
    position: fixed;
    top: 0;
    left: 0;
  }

  #login h2 {
    margin-inline: auto;
    margin-top: 3.6rem;

    width: 49.3rem;
    height: 8.1rem;

    font-style: normal;
    font-weight: 700;
    font-size: 5.81rem;
    line-height: 5.8rem;
    text-align: center;

    color: white;
  }

  #login .line{
    height: 0;
    
    border: 1px solid;
    color: white;
    width: 100%;
  }

  #login h4 {
    font-size: 2.64rem;
    line-height: 2.6rem;
  
    margin-bottom: 2.2rem;
    margin-top: 1.8rem;
    margin-inline: 1.3rem;
    
    width: 32rem;
    margin-inline: auto;
    font-weight: 700;
    color: white;

  }

  #login .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "A B"
    "C C";
    padding-block: 5.4rem;
  }

  #login .col-a {
    align-self: center;
  }

  #login .col-a img{
    width: 52rem;
    height: auto;
  }

  #login .col-b {
    background-color: var(--primary-color);
    width: 34.6rem;
    height: 44.8rem;
    margin-left: 19.3rem;
  }

  #login form [type=submit] {
    width: 9.2rem;
    height: 3.5rem;

    background-color: var(--bg-light);
    border: none;
    border-radius: 0.3rem;
  }


  #login form {
    text-align: left;
    margin-left: 7rem;
    margin-top: 1.5rem;
  }

  #login form label{
    font-size: 1.9rem;
    line-height: 1.9rem;
  }

  #login form input {
    width: 20.6rem;
    height: 3.5rem;
    border-radius: 0.3rem;
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.2rem;
  }

  #login form input[type=submit] {
    width: 9.2rem;
    height: 3.2rem;

    border-top: 14rem;
    border-left: 12.8rem;
    

    text-align: center;
    text-transform: uppercase;
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
}