* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
  --hue: 205;
  --primary-color: hsl(var(--hue), 100%, 35%);
  --bg-light: hsl(calc(var(--hue) - 3), 100%, 61%);

  font-size: 62.5%;
}

html {
  /* chrome://flags/#smooth-scrolling */
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;

  text-align: center;

  overflow: overlay;
  background: linear-gradient(
    90.06deg,
    var(--bg-light),
    28.29%,
    var(--primary-color)
  );
  background-size: auto 30rem;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

#header.top-header {
  background-color: var(--primary-color);
  height: 7.2rem;
  width: 140%;
  margin-bottom: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  align-items: baseline;
}

#header.top-header img {
  height: 5.4rem;
}

#header.top-header ul {
  display: flex;
  align-items: center;
  gap: 10rem;
}

#header.top-header ul img {
  width: 2.4rem;
  height: auto;
}

#header .h-content {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
  width: 60%;
  margin-left: 4.3rem;
  margin-top: 0.4rem;

  text-decoration: none;
}

#header .h-content a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}

#header .h-content h2 {
  width: 31.2rem;
  font-weight: 700;
  font-size: 3.87rem;
  line-height: 3.8rem;
}

#header .h-content ul li {
  font-weight: 700;
  font-size: 2.7rem;
  line-height: 2.7rem;
  text-align: center;
}

.sub-header {
  width: 140%;
  height: 25rem;
  background: linear-gradient(
    90.06deg,
    var(--bg-light),
    28.29%,
    var(--primary-color)
  );
  z-index: -1;
  position: fixed;
  left: 0;
}

h3.titulo {
  width: 30.5rem;
  height: 2.8rem;

  margin-left: 3rem;

  margin-top: 7.2rem;
  padding-top: 0.5rem;
  color: white;

  font-weight: 700;
  font-size: 3.7rem;
  line-height: 3.7rem;
}

h3.titulo img {
  width: 3.2rem;
}

.table {
  margin-top: 3rem;
  padding-block: 3rem;
  padding-inline: 3rem;
  align-self: center;
}

.content-table {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.row-table {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.item-table {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.divLabelPesquisa {
    margin: 3%;
    margin: 1rem;
}

.labelAluno {
    font-weight: 700;
    opacity: 50%;
}

input {
    border-style: hidden hidden solid hidden;
    border-width: 1px;
    opacity: 50%;
    width: 100%;
}

.new-row-table {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    width: 95%;
    border-radius: 2px;
    margin: 0 auto auto auto;
    align-items: center;
    border-top: solid 2px gray;
}

.row-pesquisa {
  margin: 2%;
}

.row-item-table {
  height: 10rem;
}

.divButton {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.buttonPesquisa {
  width: 10rem;
  height: 3rem;
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 0px;
  font-family: "Yanone Kaffeesatz", sans-serif;
  background-color: hsl(146, 100%, 37%);
  color: white;
  font-weight: 700;
}

.line-bottom {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 1px;
}

.foto-aluno {
  width: 20%;
  border-radius: 50%;
  margin-right: 15%;

}

.nome-foto {
  width: 100%;
  justify-content: left;
  margin-left: 3rem;
  
}

.status {
  background-color:  hsl(146, 100%, 37%);
  padding: 0.7rem;
  border-radius: 0.3rem;
  color: whitesmoke;
  opacity: 100%;
}

.acoes img {
    width: 3rem;
    height: auto;
}

.divLabelAluno {
  margin-left: 15px;
  margin-right: 15px;
}

